# Copy to .env locally and fill values.
# Home Assistant
HASS_URL=http://homeassistant.local:8123
HASS_TOKEN=

# Spotify (only if you want spotify mode)
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Telegram
TELEGRAM_TOKEN=
TELEGRAM_HOME_CHANNEL=
